/* required for the accordion on the program area overview page to work - for now */
.max-h-0 {
    max-height: 0;
}

/* Add default styles to lists in table cells */
td > ul {
    list-style: disc;
}

.prose a {
    color: blue;
}
